@body-bg: #0003;
body {
    background: #D8D8D8 !important;
    background-color: #D8D8D8 !important;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    min-height: 100%;
    font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif;
    color: rgb(20,20,20);
    word-wrap: break-word;
    line-height: 1.28;
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    *font-size: small;
    *font: x-small;
}

li {
    list-style: none;
}

#page,.pageWidth {
    margin: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 1134px;
    width: auto;
    max-width: 1134px;
    margin-left: auto;
    margin-right: auto;
    _width: 1134px;
}
#content {
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#masthead {background-color:transparent;}
#colophon {color:#fff;background-color:rgb(52, 98, 160);}
#colophon a {}

#wpadminbar {color:#fff;background-color:rgb(52, 98, 160);border-radius:3px;} 

.site-header #logo {
    text-align: left;
    float: left;
    height: auto;
    line-height: 1em;
    display: block;
    vertical-align: middle;
    max-width: 20% !important;
}

.site-header #logo a {
    display: inline-block;
    vertical-align: bottom;
    text-decoration: none !important;
    outline: none !important;
    width: 368px;
    height: 105px;
    background-size: 368px 105px;
}


.site-header .altTabs {
    display: block;
    float: right;
    text-align: right;
    margin-top: 27px;
    margin: 10px auto;
}

.altTabs .navTab, .altTabs .navTab.PopupControl.PopupOpen {
    vertical-align: top;
    position: relative;
    background: transparent none;
    padding: 0;
    margin: 0 0 0 5px;
    border-width: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    display: inline-block;
}

.altTabs .navLink .icon, .altTabs .navigationHiddenTabs .navLink::after {
    font-size: 20px;
    letter-spacing: 0;
    margin-top: 5px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
}
.navLink span.icon, .navLink span.icon::before {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    line-height: 1em;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.site-header .altTabs {
    display: block;
    float: right;
    text-align: right;
    margin-top: 27px;
    margin: 10px auto;
}
.altTabs .navLink span.icon-text {
    padding: 0;
    vertical-align: top;
}
.altTabs .navLink, .altTabs .navLink span.icon-text {
    font-size: 12px;
    letter-spacing: -.2px;
    line-height: 12px;
    text-rendering: optimizeLegibility;
}
.navTab .navLink span.icon-text {
    display: inline-block;
    line-height: 1em;
    padding-left: 5px;
}
.altTabs .has-icon .navLink {
    font-size: 20px;
    letter-spacing: 0;
}
.altTabs .selected .navLink {
    color: #fff;
    background-color: rgb(52, 98, 160);
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .03) inset, 0 0 0 1px rgba(0, 0, 0, .03), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .03) inset, 0 0 0 1px rgba(0, 0, 0, .03), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: 0 0 0 1px rgba(0, 0, 0, .03) inset, 0 0 0 1px rgba(0, 0, 0, .03), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .03) inset, 0 0 0 1px rgba(0, 0, 0, .03), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}
.altTabs .navLink, .altTabs .navLink span.icon-text {
    font-size: 12px;
    letter-spacing: -.2px;
    line-height: 12px;
    text-rendering: optimizeLegibility;
}
.altTabs .navLink {
    position: relative;
    text-decoration: none !important;
    outline: none !important;
    color: rgb(52, 98, 160);
    background-color: rgb(244, 244, 244);
    padding: 33px 6px 6px;
    border-width: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    display: block;
    text-align: center;
    min-width: 40px;
    font-weight: normal;
    background-image: -webkit-linear-gradient(top, #ECECEC 0%, #EAEAEA 10px, rgb(244, 244, 244) 50px);
    background-image: linear-gradient(to bottom, #ECECEC 0%, #EAEAEA 10px, rgb(244, 244, 244) 50px);
    -webkit-box-shadow: 0 0 0 1px rgb(249, 249, 249) inset, 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.1), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgb(249, 249, 249) inset, 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.1), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: 0 0 0 1px rgb(249, 249, 249) inset, 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.1), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgb(249, 249, 249) inset, 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.1), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#30FFFFFF, endColorstr=#00FFFFFF);
    height: 50px;
}
.altTabs .active .navLink {
    color: #fff;
    background-color: rgb(52, 98, 160);
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .03) inset, 0 0 0 1px rgba(0, 0, 0, .03), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .03) inset, 0 0 0 1px rgba(0, 0, 0, .03), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: 0 0 0 1px rgba(0, 0, 0, .03) inset, 0 0 0 1px rgba(0, 0, 0, .03), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .03) inset, 0 0 0 1px rgba(0, 0, 0, .03), 0 3px 3px -3px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}
.dropdown-menu>li>a {
    color: rgb(52, 98, 160);
}
.dropdown-menu>li>a:hover {
	background-color: rgb(52, 98, 160);
    color: #fff;
}
.dropdown>a:hover{
    color: #fff;
	background: rgb(198,6,6); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(198,6,6), rgb(198,6,6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(198,6,6), rgb(198,6,6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(198,6,6), rgb(198,6,6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(198,6,6), rgb(198,6,6)); /* Standard syntax */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.widget{
	background: rgb(244, 244, 244) url(http://localhost/leolink/wp-content/uploads/2016/09/fullblock.png) repeat-x;
	padding: 9px;
    border: 1px solid rgb(249, 249, 249);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(top, #ECECEC 0%, #EAEAEA 10px, rgb(244, 244, 244) 50px);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, #ECECEC 0%, #EAEAEA 10px, rgb(244, 244, 244) 50px);
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.15), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.15), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.15), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.15), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF);
}
.widget_recent_comments .widget-title:before{
   font-family: FontAwesome;
   content: "\f086";
}
.widget .widget-title{
	font-size: 14px;
    font-family: 'Droid Sans','Open Sans','Trebuchet MS',Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: rgb(52, 98, 160);
    padding: 5px 9px;
    margin: -10px -10px 5px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -khtml-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -khtml-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    text-shadow: rgb(52, 98, 160) 1px -1px 0;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .1), 0 5px 5px -5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .1), 0 5px 5px -5px rgba(0, 0, 0, .2);
    -khtml-box-shadow: 0 0 2px rgba(0, 0, 0, .1), 0 5px 5px -5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 2px rgba(0, 0, 0, .1), 0 5px 5px -5px rgba(0, 0, 0, .2);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF);
    border-bottom: 0px;
    font-weight: normal;
    line-height: normal;
}
.widget_search button {
    line-height: 22px;
}
.widget li {
    padding: 5px 0 !important;
}
.no-results button.search-icon {
    line-height: 15px;    
    padding-top: 3px;
}
.widget_search input[type="text"] {
    height: 25px;
}
.primaryNavLinks {
	position:fixed;
	width: 100%;
	left: 0;
    opacity: 0.9;
    right: 0;
    transition: opacity 0.2s ease 0s;
    z-index: 99;
    display: none;
}#advps_container1 .bx-pager-item {
	display: none !important;
}
#advps_container4 .bx-pager-item {
	display: none !important;
}
#secondary_product .bx-pager-item {
	display: none !important;
}

#secondary_product .bx-wrapper {
    margin: 0 auto 10px !important;
}
.advps-excerpt-block-one {
	padding: 0px !important;
}
.bx-wrapper .bx-controls-auto .bx-start {
	display: none !important;
}
.bx-wrapper .bx-controls-auto .bx-stop {
	display: none !important;
}
#advps_container1{
	padding-left: 15px;
}
#advps_container1 .bx-wrapper {
    margin: 0 auto 10px !important;
}

#advps_container6 .bx-wrapper .bx-controls-direction a {
    display: none;
}
#advps_container4{
	padding-left: 15px;
}
#advps_container4 .bx-wrapper {
    margin: 0 auto 10px !important;
}
#advps_container4 .bx-wrapper .bx-controls-direction a {
    display: none;
}


#colophon {
    padding: 0px !important;
}
.coppy_right {
    height: auto;
    line-height: 1em;
    float: right;
    margin-top: 30px;
}


#sidebar li {
    margin: 7px 0;
}
#sidebar a {
    color: #444f6f;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
#sidebar li.active a {
    /* font-weight: bold; */
    color: #F58220;
}
#sidebar li a.active {
    /* font-weight: bold; */
    color: #F58220;
}
#sidebar .sub-menu-lv-1 {
    padding-left: 15px;
}
#sidebar .sub-menu-lv-1 .sub-menu-lv-2 {
    padding-left: 15px;
    margin-left: 0;
    border-left: 1px solid #f0d36b;
}
#sidebar .sub-menu-lv-2 a, #sidebar .sub-menu-lv-3 a {
    color: #5e6782;
    font-weight: normal;
    text-transform: none;
}
#sidebar .sub-menu-lv-1 .sub-menu-lv-2 .sub-menu-lv-3 {
    padding-left: 15px;
    border-left: 1px solid #f0d36b;
}
.hidden {
    display: none;
}
#sidebar {
    width: 100%;
    float: left;
    margin-right: 10px;
}
#firstary_product {
    float: left;
    width: 19.999%;
    font-size: 11px;
    border-top: solid 1px #cccccc;
    background: rgb(244, 244, 244) url(http://www.leolink.com.vn/wp-content/uploads/2016/09/fullblock.png) repeat-x;
    padding: 9px;
}
#primary_product {
    width: 56.999%;
    float: left;
    border: 1px solid #cccccc;
    height: auto;
    margin-left: 1.6%;
}
#secondary_product {
    float: right;
    width: 19.999%;
}
#colophon #logoo {
    height: auto;
    line-height: 1em;
    display: block;
    vertical-align: middle;
    float: left;margin-top: 20px;
    width: 20%;
}

#colophon #logoo a {
    display: inline-block;
    vertical-align: bottom;
    text-decoration: none !important;
    outline: none !important;
    width: 368px;
    height: auto;
    background-size: 368px 105px;
}

/* =RESPONSIVE MEDIA
----------------------------------------------- */
@media (max-width: 700px) {
	#firstary_product{
        width: 100%;   
	}
    #primary_product{
        width: 100%;   
        margin-top: 20px; 
        margin-left: 0;
    }
    #secondary_product{
        width: 100%;
    }
    
    #colophon #logoo{
        width: 100%;
    }
    #colophon .coppy_right{
        width: 100%;
        margin-top: 0px;
    }
}

@media (max-width: 500px) {
	article.matata-product {
		margin-bottom: 20px;
		width:40% !important;
		float: left;
		margin-left: 8%;
	}
	
	article:nth-of-type(2n+1).matata-product{
		margin-left: 8% ;
		clear: left;
	}
	
	article:nth-of-type(3n+1).matata-product{
		margin-left: 8% !important;
		clear: none !important;
	}
}

.bx-wrapper .bx-viewport {
	left: 0px !important;
}

.navTabs li:HOVER .dropdown-menu {
	display: block;
}




.navigation{
	margin-top: 10px;
	clear: both;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	background-color: #6FB7E9;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
	padding: 0.75rem;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #3C8DC5;</span>
}



#masthead .dropdown-menu, .primaryNavLinks .dropdown-menu {
	margin: 0;
	left:auto;
}
#masthead li:last-child .dropdown-menu {
	left: -122px;
}

#cfacebook {
	position: fixed;
	bottom: 0px;
	right: 8px;
	z-index: 999999999999999;
	width: 250px;
	height: auto;
	box-shadow: 6px 6px 6px 10px rgba(0, 0, 0, 0.2);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}

#cfacebook .fchat {
	float: left;
	width: 100%;
	height: 295px;
	overflow: hidden;
	display: none;
	background-color: #fff;
}

#cfacebook .fchat .chat-single {
	float: left;
	line-height: 25px;
	line-height: 25px;
	color: #333;
	width: 100%;
}

#cfacebook .fchat .chat-single a {
	float: right;
	text-decoration: none;
	margin-right: 10px;
	color: #888;
	font-size: 12px;
}

#cfacebook .fchat .chat-single a:hover {
	color: #222;
}

#cfacebook .fchat .fb-page {
	margin-top: -130px;
	float: left;
}

#cfacebook a.chat_fb {
	float: left;
	padding: 0 25px;
	width: 250px;
	color: #fff;
	text-decoration: none;
	height: 40px;
	line-height: 40px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMV…8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg==);
	background-repeat: repeat-x;
	background-size: auto;
	background-position: 0 0;
	background-color: #0065BF;
	border: 0;
	border-bottom: 1px solid #0065BF;
	z-index: 9999999;
	margin-right: 12px;
	font-size: 18px;
}

#cfacebook a.chat_fb:hover {
	color: #eee;
	text-decoration: none;
}

.s_lang {
    position: inherit;
    float: right;
    background: url(http://localhost/leolink/wp-content/uploads/2016/09/bg_co.png) no-repeat scroll 0 0 transparent;
    height: 16px;
    right: 320px;
    top: 8px;
    width: 53px;
}
.icon_social {
    position: inherit;
    float: right;
    margin-left: 50px;
    margin-right: 10px;
}
.s_search {
    position: inherit;
    float: right;
    right: 14px;
    top: 3px;
}
.box-search {
    background: url(http://localhost/leolink/wp-content/uploads/2016/09/bg_search.png) no-repeat scroll 0 0 transparent;
    height: 25px;
    overflow: hidden;
    width: 155px;
}
.box-search input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: white !important;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 10px;
    width: 110px;
    height: 21px;
    float: left;
}
.box-search button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 21px;
    width: 30px;
    box-shadow: none !important;
}
.box-search button:hover {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
}
.btnn:hover {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.languagesocialsearch {
    float: right;
    text-align: right;
    margin-top: 10px;
    width: 70%;
}

/* defining .matata-product */

article.matata-product {
	margin-bottom: 20px;
    width:28%;
    float: left;
    margin-left: 8%;
}

article:nth-of-type(3n+1).matata-product{
    margin-left: 0;
    clear: left;
}
/*Message error*/
.showError{
	font-weight: bold;
	color: red;
}